<% provide(:title, 'Sign in') %>

<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <h1>Sign in</h1>
    <%= form_for(:session, url: login_path) do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.submit "Sign in", class: "btn btn-success text-large" %>
    <% end %>

  </div>
</div>