<% provide(:title, 'Create post') %>
<h1>Create Post</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :post do |f| %>
    <% if @posts.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@post.errors.count, "error") %>.
      </div>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <%= f.label :title %>
    <%= f.text_area :title, class: 'form-control' %>

    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>

    <%= f.submit "Create",class: "btn btn-primary" %>
    <% end %>
  </div>
  <%= link_to 'Home page', root_url %>
</div>